{% extends 'web/public/layout.html' %}
{% block app-page %}
  <div class="survey-detail" id="">
    <el-form ref="form" :model="forms" label-width="80px" label-position="top">
      <el-form-item v-for="(form, index) in forms" :label="form.name">
        <el-input v-if="form.answer_type == 'suggestion'" type="textarea" v-model="form.value"></el-input>
        <el-radio-group v-model="form.value" v-if="form.answer_type == 'score'">
          <el-radio v-for="(choice, index) in form.choices" :label="choice.points">
            {% templatetag openvariable %}choice.content{% templatetag closevariable %}
          </el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">创建问卷调查</el-button>
        <el-button>取消</el-button>
      </el-form-item>
    </el-form>
  </div>
{% endblock %}
{% block js %}
  <script>
    new Vue({
      el: '#app',
      data: {
        forms: []
      },
      mounted() {
        this.initFormData()
      },
      computed: {},
      methods: {
        initFormData() {
          var vm = this;
          axios.get(`/api/surveys/1/`).then(function (resp) {
            vm.forms = resp.data;
          })
        },
        onSubmit() {
          console.log('submit!');
          console.log(this.getFormData());
        },
        getFormData() {
          return this.forms
        },
        getError(form) {
          return ""
        }
      }
    })
  </script>
{% endblock %}